body {
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
}

.main {
  display: flex;
  flex: 1;
}

header {
  padding: 0px 20px;
}

aside {
  flex-basis: 250px;
  border-right: solid 1px silver;
}

main {
  flex: 1;
  padding: 0 20px 20px 20px;
}

footer {
  border-top: solid 1px silver;
  padding: 10px 20px;
  display: flex;
}

h1 {
  margin-top: 1rem;
}

h2 {
  margin-top: 0.5rem;
}

.copyright {
  flex: 1;
}

.git-hub img {
  margin: 0;
}
